{%extends "registration/base.html"%}
{% load bootstrap4 %}

{% block content %}
{% include "navbar.html" %}
<div  class="container" >
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
<style>
  body {
    background-image: url(https://media.istockphoto.com/photos/happy-neighbourhood-picture-id144292803?k=6&m=144292803&s=612x612&w=0&h=4VeGNVyQRT8k6fU5aXZQsj7_3qFceGNtneCYnQYS5p0=);
    background-repeat: no-repeat;
    background-size: cover;

  }
</style>
{% endblock %}