<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'home'%}">Neighbourhood</a>
            </div>


            <a href="{% url 'new_profile' user.username %}">Profile</a>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <ul class="nav navbar-nav navbar-right">
                    <ul class="">
                        <li>
                            <form class="" action="{% url 'search' %}">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12 ui-widget">
                                        <input id="search" type="text" class="form-control input-lg"
                                            placeholder="Search Business" name="search" />
                                    </div>
                                </div>
                            </form>
                        </li>

                    </ul>
                </ul>
            </div>
            <a href="{% url 'business' %}">Businesses Around</a>
            <a href="#contactsmodal" class="modal-trigger">Emergency Contacts</a> 
            
        </div>
        <a href="accounts/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <a href="accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </div>

        </div>
        <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </div>

    </nav>

    <ul class="sidenav" id="mobile-demo">
        <a href="{% url 'business' %}">Businesses Around</a>        
     </ul>
    
     <!-- Modal Structure -->
       <div id="contactsmodal" class="modal">
         <div class="modal-content">
           <h4>Hotline Emergency Contacts</h4>
           <p>Police: 999 / +254 203 414 11 <br>Ambulance: 5674 / 020-2222181 <br>Fire Brigade: 2222181</p>
         </div>
         <div class="modal-footer">
           <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
         </div>
       </div>
</body>

</html>