<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
        <a class="navbar-brand" href="{%url 'home'%}">App-Reviewer</a>
        </div>
        
        
        <li><a href="{% url 'newprofile' %}">Profile</a></li>
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

          <ul class="nav navbar-nav navbar-right">
            <form style="width: 200px;" class="navbar-form" role="search" action="{% url 'search_results'%}">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="project">
              </div>
            </form>
          </ul>
        </div>
        <div class="user-image" style="float:right; margin-right:105px;">
          <a href="/user/{{profile.username}}" style="color:black;text-decoration:none;margin:auto;">
            <p style="font-size: 13px; font-weight:lighter;margin:auto;text-transform:uppercase;margin-left:-20px;">{{profile.username}}</p>
          </a>
          <img src="{{profile.avatar.url}}" class="gallery-image" style="margin:auto;"  width=8 height=8>
          <a href="{% url 'newproject' %}" ><button class="btn btn-dark" >New Project</button></a>
       
        </div> -->
        <a href="accounts/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <a href="accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
       </div>
       
        </div>
        <!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
       </div>
       
       </nav>
  
<div class="container">
  
</div>

</body>
</html>
