<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'home'%}">Neighbourhood</a>
            </div>


            <li><a href="{% url 'new_profile' user.username %}">Profile</a></li>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <ul class="nav navbar-nav navbar-right">
                    <form style="width: 200px;" class="navbar-form" role="search" action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="project">
                        </div>
                    </form>
                </ul>
            </div>
            <div class="user-image" style="float:right; margin-right:105px;">
                <a href="" style="color:black;text-decoration:none;margin:auto;">
                    <p
                        style="font-size: 13px; font-weight:lighter;margin:auto;text-transform:uppercase;margin-left:-20px;">
                        {{profile.username}}</p>
                </a>
                <img src="" class="gallery-image" style="margin:auto;" width=8 height=8>
                <a href=""><button class="btn btn-dark">New Project</button></a>

            </div>
            <a href="accounts/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a href="accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </div>

        </div>
        <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </div>

    </nav>

    <div class="container">
        <div id="contactsmodal" class="modal">
            <div class="modal-content">
                <h4>Hotline Emergency Contacts</h4>
                <p>Police: 999 / +254 203 414 11 <br>Ambulance: 5674 / 020-2222181 <br>Fire Brigade: 2222181</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>

</body>

</html>